:root {
  --syntax_normal: #1b1e23;
}

body {
  background: linear-gradient(100deg, #a5a49db8, #29405d); /* Combination of dark grey and black */
}
/* Scroll menu */
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  background: linear-gradient(100deg, #a5a49db8, #29405d); /* Combination of dark grey and black */

}

/* Scroll bar */
.scrollable-menu::-webkit-scrollbar-track {
  border-radius: 10px;
  background: linear-gradient(100deg, #a5a49db8, #29405d); /* Combination of dark grey and black */
}

.scrollable-menu::-webkit-scrollbar {
  width: 12px;
  background: linear-gradient(100deg, #a5a49db8, #29405d); /* Combination of dark grey and black */
}

.scrollable-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

#outerContainer {
  display: flex;
  flex-direction: column; /* Alignement vertical */
  justify-content: center;
  align-items: center;
}

.centered-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 30%; /* Full-width */
  height: 10px; /* Specified height */
  border-radius: 10px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  margin-bottom: 10px;
  transform: rotate(270deg) translateY(-2500%); /* Rotate and move the slider to the left */
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  border-radius: 10px;
  background: #222529; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#choroplethMap {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  width: 130px;
  height: 50px;
  padding: 10px;
  background: #2f2f2f;
  color: #f0f0f0;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#chartContainer {
  padding: 0px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* Surcharge des styles de la barre de navigation Bootstrap */
.navbar,
.navbar.navbar-light,
.navbar.navbar-light .navbar-brand,
.navbar.navbar-light .navbar-nav .nav-link {
  background: linear-gradient(100deg, #a5a49db8, #29405d) !important; /* Couleur de fond blanche */
  color: #000000 !important; /* Texte en noir */
}

.navbar.navbar-light .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover,
.navbar.navbar-light .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus {
  background-color: #f8f9fa !important;

  background-color: linear-gradient(100deg, #a5a49db8, #29405d); /* Combination of dark grey and black */


  color: #000000 !important; /* Texte en noir */
}

/* Pour le bouton du menu déroulant (le "hamburger") en noir */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Pour les liens dans le contenu du menu déroulant */
.navbar.navbar-light .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #000000 !important; /* Texte en noir */
}

@media (max-width: 1000px) {
  #chartContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


#play-button {
  background-color: linear-gradient(100deg, #7d6052, #284f3f); /* Combination of dark grey and black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

#play-button:hover {
  background-color: linear-gradient(100deg, #7d6052, #284f3f); /* Combination of dark grey and black */
  color: white;
}
